* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.layout{
    
    background: #22346c;
    background: linear-gradient(89deg,#22346c 0%, #2b51a4 80%);
    background: -webkit-linear-gradient(89deg,#22346c 0%, #2b51a4 80%);
    background: -moz-linear-gradient(89deg,#22346c 0%, #2b51a4 80%);
    min-height: 100vh;
}

h1{
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: flex-start;
    position: absolute;
    color:rgb(12,173,215);
    top: 78%;
}

.header{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    position: relative;
}

.nav__header{
    
    display: flex;
    flex-direction:row ;
    position: absolute;
    align-self: flex-end;
    /*order: 2;*/
    justify-self: flex-end;
    gap:10px;
    top: 5%;
}


.a__nav__header{
    background-color: #2b51a4;
    /*display: inline-block;
    margin: 5px;*/
    
    
    padding: 13px;
    color: #e2f4f8;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
}

.a__nav__header:hover{
    transform: scale(.89);
}

.nav__contact, .nav__home, .nav__about, .nav__rules, .nav__game, .nav__registration{
    background-color: #0cadd7;
}

.section__home{
    display:flex ;
    flex-direction: column;
    gap: 20px;
}

h2{
    text-align: center;
    color: black;
    border: 3px solid;
    border-color:black ;
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
    position: relative;
    align-self: center;
    justify-self: center;
    min-width: 100vw;
}

.contenedor__articulos__img__home{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

h3{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.img__banner{
    object-fit: cover;
    object-position: 0% 25%;
    display: flex;
    height: 350px;
    width: 100%;
}

.img__logo,.img__picture1,.img__picture2,.img__picture3{
    object-fit: cover;
    width: 300px;
    height: 300px;
    display: block;
}

.img__contenedor{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contenedor__articulos{
    display: flex;
    flex-direction: column;
}

.articulos__home{
    display: flex;
    gap: 20px;
}

.articulos__about{
    max-width: 70vw;
    align-self: flex-end;
}


.article__home{
    margin: 40px;
    font-size: 2rem;
    font-family: "Arimo", sans-serif
}

.article__about{
    margin-bottom: 20px;
    font-size: 2rem;
    font-family: "Arimo", sans-serif
}

.parrafos{
    text-indent: 40px;
    font-size: 2rem;
    font-family: "Arimo", sans-serif
}

.contenedor__about{
    display: flex;
    flex-direction: row;
    gap: 100px;
    
}

.contenedor__contacto{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.contenedor__parrafos__contact{
    
    align-self: center;
    /*justify-content: center;*/
}

.email__style{
    color: #75cede;
}


/*Listas*/


.resaltar{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style-position: initial;
}

.sub__h3__rules{
    text-align: center;
    font-size: 35px;
}

.contenedor__lista{
    padding: 100px 300px ;
    font-size: 40px;
}

dt{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 50px 0;
}
.dd__style{
    text-indent: 40px;
}

.dd__style>ul {
    /*text-indent: none;*/
    list-style-position: inside;
    width: 90%;
    padding-left:10% ;
    list-style: circle;
    

}

.ol__contenedor>li{
    
    list-style-position: inside;
}
.ol__contenedor>li>ol{
    list-style-type: lower-latin;
    
}

.contenedor__general__ol>li{
    padding-bottom: 40px;
}

.sub__regulations{
    font-size: 40px ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 50px;
}

.dl__style{
    padding-bottom: 40px;
}

/*.contenedor__lista*/


.main__game{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor__general__gameInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;

}

caption{
    text-align: left;
}

table{
    width: 100%;
    table-layout: fixed;
    background-color: #234896;
    border-collapse: collapse;
    color: #75adb6
   
}

thead, tbody{

    text-align: left;
    
}


th, tr, td{
    height: 40px;
    padding-right: 20px;
}

.contenedor__info__game, .contendor__info__game__footer{
    justify-content: center;
    align-items: center;
}

/*.col1{
    
    display: flex ;
    flex-direction: column;
    align-self:center ;
    
}*/

.h3__gameInfo__1{
  padding-bottom: 20px;
}

.contenedor__gameinfo__general{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.contenedor__h3__gaminfo__info1{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    
}

.contenedor__info__game p{
    align-self: center;
}
.contenedor__info__game{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.contenedor__h3__gaminfo__info2{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.contenedor__h3__gaminfo__info3{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-top: 50px;
}

.contenedor__info__game__footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom:50px ;
}

.contenedor__h3__gaminfo__footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
}
.contenedor__info__game__footer a{
    align-self: center;

}