* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.layout{
    
    background: #22346c;
    background: linear-gradient(89deg,#22346c 0%, #2b51a4 80%);
    background: -webkit-linear-gradient(89deg,#22346c 0%, #2b51a4 80%);
    background: -moz-linear-gradient(89deg,#22346c 0%, #2b51a4 80%);
    min-height: 100vh;
}

h1{
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: flex-start;
    position: absolute;
    color: #000000;
    text-shadow: 9px 4px 2px rgba(117,206,222,0.95);
    width: 40%;
    
}


.header{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    position: relative;
}

.nav__header{
    
    display: flex;
    flex-direction:column;
    position: fixed;
    align-self: flex-end;
    justify-self: flex-end;
    gap:10px;
    top: 2%;
    z-index: 2;
    padding-right: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


.a__nav__header{
    background-color: #2b51a4;
    padding: 5px;
    color: #e2f4f8;
    font-size: 15px;
    width: 80px;
    text-decoration: none;
    border-radius: 10px;
}

.a__nav__header:hover{
    transform: scale(.89);
}

.nav__contact, .nav__home, .nav__about, .nav__rules, .nav__game, .nav__registration{
    background-color: #0cadd7;
}

.section__home{
    display:flex ;
    flex-direction: column;
    gap: 20px;
}

h2{
    text-align: center;
    color: black;
    border: 3px solid;
    border-color:black ;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    position: relative;
    align-self: center;
    justify-self: center;
    width: 100%;
    
}

.contenedor__articulos__img__home{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

h3{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.img__banner{
    object-fit: cover;
    object-position: 10% 25% ;
    display: flex;
    height: 260px;
    width: 100%;
}

.img__logo,.img__picture1,.img__picture2,.img__picture3{
    object-fit: cover;
    width: 180px;
    display: block;
    border-radius: 15px;
}


.img__contenedor{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.contenedor__articulos{
    display: flex;
    flex-direction: column;
}

.articulos__home{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.article__home h3{
    font-size: 37px;
}


.article__home{
    font-size: 35px;
    font-family: "Arimo", sans-serif
}

.parrafos{
    text-indent: 40px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.email__style{
    color: rgb(117, 206, 222);
}

