*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.layout{
    
    background: #22346c;
background: linear-gradient(89deg,#22346c 0%, #2b51a4 80%);
background: -webkit-linear-gradient(89deg,#22346c 0%, #2b51a4 80%);
background: -moz-linear-gradient(89deg,#22346c 0%, #2b51a4 80%);
    min-height: 100vh;
}

h1{
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: flex-start;
    position: absolute;
    color:rgb(12,173,215);
    color: linear-gradient(90deg, rgba(12,173,215,1) 0%, rgba(43,81,164,1) 58%, rgba(43,81,164,1) 100%);
    top: 78%;
}

.header{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    position: relative;
}

.nav__header{
    
    display: flex;
    flex-direction:row ;
    position: absolute;
    align-self: flex-end;
    order: 2;

   
}


.a__nav__header{
    background-color: #0B486B;
    display: inline-block;
    padding: 13px;
    margin: 5px;
    color: #79BD9A;
    font-size: 18px;
    text-decoration: none;
}

.nav__contact, .nav__home, .nav__about{
    background-color: #CFF09E;
}

.section__home{
    display:flex ;
    flex-direction: column;
    gap: 20px;
}

h2{
    text-align: center;
    color: black;
    border: 3px solid;
    border-color:black ;
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
    position: relative;
    align-self: center;
    justify-self: center;
    min-width: 100vw;
}

.contenedor__articulos__img__home{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

h3{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.img__banner{
    object-fit: cover;
    object-position: 0% 25%;
    display: flex;
    height: 350px;
    width: 100%;
}

.img__logo,.img__picture1,.img__picture2,.img__picture3{
    object-fit: cover;
    width: 300px;
    height: 300px;
    display: block;
}

.img__contenedor{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contenedor__articulos{
    display: flex;
    flex-direction: column;
}

.articulos__home{
    display: flex;
    gap: 20px;
}

.articulos__about{
    max-width: 70vw;
    align-self: flex-end;
}


.article__home{
    margin: 40px;
    font-size: 2rem;
    font-family: "Arimo", sans-serif
}

.article__about{
    margin-bottom: 20px;
    font-size: 2rem;
    font-family: "Arimo", sans-serif
}

.parrafos{
    text-indent: 40px;
    font-size: 2rem;
    font-family: "Arimo", sans-serif
}

.contenedor__about{
    display: flex;
    flex-direction: row;
    gap: 100px;
    
}

.contenedor__contacto{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.contenedor__parrafos__contact{
    
    align-self: center;
    /*justify-content: center;*/
}