*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout{
    padding-left: 10%;
    padding-right: 10%;
    
}

h1{
    font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
    /*position: absolute;*/
    
    
}

.nav__header{
    position: absolute;
    left:0;
    top: 100px;
    width: 300px;
    
    
}

.header{
    position: relative;
}


.a__nav__header{
    background-color: #0B486B;
    display: block;
    padding: 13px;
    margin: 15px;
    color: #79BD9A;
    font-size: 18px;
    text-decoration: none;

}

.img__banner{
    object-fit: cover;
    object-position: 50% 30%;
    width: 100%;
    height: 370px;
}

.img__contenedor{
    position: relative;
    margin-top: 35px;
}

.img__logo{
    position: absolute;
    left: 80%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.img__picture1, .img__picture2,.img__picture3{
    object-fit: cover;
    width: 300px;
    height: 300px;
}

h2{
    text-align: center;
    font-size: 45px;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    border: #BED0C8 solid;
    background-color: #CBD0C8;
    padding: 5px;
    margin-top: 15px;
}


.articulos__home{

    width: 600px;
    height: 400px;
    position: absolute;
    bottom:0;
    top: 68%;
    left:35%;
}
.articulos__home,.parrafos{
    font-size: 35px ;
    text-align: center;
    margin: 10px;
}

.articulos__about{
    width: 300px;
    position: absolute;
    left: 43%;
    top: 66%;
}

.article__about{
    font-size: 5px ;
    text-align: center;
    margin: 35px;
    background-color: #C58E4D ;
    display: block;
    
}
.parrafos__about{
    font-size: 5px;
    color: #E7DFAE;
}

.article__about:hover{
transform: scale(7);
transition: all 1s ease-out;
}



.contenedor__parrafos__contact{
    position: relative;
    bottom: 200px;

}

